:root {
  --white: #fff;
  --gray: #464646;
  --gray-light: #ddd;
  --blue: #1976d2;
  --blue-darken: #0051a1; }

.speed-dial:hover .speed-dial__button--root, .speed-dial__button--root:hover {
  background-color: var(--blue-darken); }
  .speed-dial:hover .speed-dial__button--root svg, .speed-dial__button--root:hover svg {
    transform: rotate(45deg); }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  height: 100%; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.speed-dial {
  position: relative; }
  .speed-dial .flex-center {
    display: flex;
    justify-content: center;
    align-items: center; }
  .speed-dial button {
    cursor: pointer;
    border: 0; }
  .speed-dial [data-direction] {
    position: absolute;
    display: flex;
    visibility: hidden; }
  .speed-dial [data-direction=top] {
    bottom: 56px;
    width: 56px;
    flex-direction: column; }
    .speed-dial [data-direction=top] .speed-dial__button--small {
      margin-bottom: 15px; }
  .speed-dial [data-direction=bottom] {
    top: 56px;
    width: 56px;
    flex-direction: column-reverse; }
    .speed-dial [data-direction=bottom] .speed-dial__button--small {
      margin-top: 15px; }
  .speed-dial [data-direction=left] {
    top: 0;
    right: 56px;
    height: 56px;
    flex-direction: row; }
    .speed-dial [data-direction=left] .speed-dial__button--small {
      margin-right: 15px; }
  .speed-dial [data-direction=right] {
    top: 0;
    left: 56px;
    height: 56px;
    flex-direction: row-reverse; }
    .speed-dial [data-direction=right] .speed-dial__button--small {
      margin-left: 15px; }
  .speed-dial .icon {
    transition: all 100ms ease-in-out;
    width: 25px;
    height: 25px;
    fill: var(--gray); }
    .speed-dial .icon__plus {
      width: 24px;
      height: 24px;
      fill: var(--white); }
  .speed-dial__item {
    position: relative;
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, opacity 0.8s;
    opacity: 0;
    transform: scale(0); }
  .speed-dial:hover [data-direction] {
    visibility: visible; }
  .speed-dial:hover [data-direction=top] span,
  .speed-dial:hover [data-direction=bottom] span {
    right: 60px; }
  .speed-dial:hover [data-direction=left] span,
  .speed-dial:hover [data-direction=right] span {
    top: -20px; }
  .speed-dial:hover .speed-dial__item {
    opacity: 1;
    transform: scale(1); }
  .speed-dial__button--small {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white);
    transition: all 500ms; }
    .speed-dial__button--small:hover {
      background-color: var(--gray-light); }
      .speed-dial__button--small:hover span {
        display: block; }
  .speed-dial span {
    display: none;
    position: absolute;
    padding: 5px;
    color: var(--white);
    font-size: 11px;
    background-color: var(--gray);
    border-radius: 5px; }
  .speed-dial__button--root {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--blue);
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12); }
