:root {
  --white: #fff;
  --gray: #464646;
  --gray-light: #ddd;
  --blue: #1976d2;
  --blue-darken: #0051a1;
}

$box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
0px 6px 10px 0px rgba(0, 0, 0, 0.14),
0px 1px 18px 0px rgba(0, 0, 0, 0.12);

%hover-button-root {
  opacity: 0.5;
  // svg {
  //   transform: rotate(45deg);
  // }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.speed-dial {
  $self: &;
  position: relative;

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    cursor: pointer;
    border: 0;
  }

  [data-direction] {
    position: absolute;
    display: flex;
    pointer-events: none;
  }

  [data-direction="top"] {
    bottom: 56px;
    width: 56px;
    flex-direction: column;

    #{$self}__button--small {
      margin-bottom: 15px;
    }
  }

  [data-direction="bottom"] {
    top: 56px;
    width: 56px;
    flex-direction: column-reverse;

    #{$self}__button--small {
      margin-top: 15px;
    }
  }

  [data-direction="left"] {
    top: 0;
    right: 56px;
    height: 56px;
    flex-direction: row;

    #{$self}__button--small {
      margin-right: 15px;
    }
  }

  [data-direction="right"] {
    top: 0;
    left: 56px;
    height: 56px;
    flex-direction: row-reverse;

    #{$self}__button--small {
      margin-left: 15px;
    }
  }

  .icon {
    transition: all 100ms ease-in-out;
    width: 25px;
    height: 25px;
    fill: var(--gray);

    &__plus {
      width: 24px;
      height: 24px;
      fill: var(--white);
    }
  }

  &__item {
    position: relative;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, opacity 0.5s;
    opacity: 0;
    transform: scale(0);
  }

  &:hover {
    [data-direction] {
      pointer-events: auto;
    }

    [data-direction="top"],
    [data-direction="bottom"] {
      span {
        right: 60px;
      }
    }

    [data-direction="left"],
    [data-direction="right"] {
      span {
        top: -20px;
      }
    }

    #{$self}__item {
      opacity: 1;
      transform: scale(1) translateZ(0);
    }

    #{$self}__button--root {
      @extend %hover-button-root;
    }
  }

  &__button--small {
    background: none;
    width: 40px;
    height: 40px;
    transition: all 500ms;

    &:hover {
      // background-color: var(--gray-light);

      span {
        display: block;
      }
    }
  }

  span {
    display: none;
    position: absolute;
    padding: 5px;
    color: var(--white);
    font-size: 11px;
    background-color: var(--gray);
    border-radius: 5px;
  }

  &__button--root {
    width: 56px;
    height: 56px;
    background: none;

    &:hover {
      @extend %hover-button-root;
    }
  }
}