@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  height: 100%;
}

body,
html {
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-height: 100%;
  color: #000;
  background-color: #f5f5f5;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  /* height: 200%; */
}

label {
  display: inline-block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
}

h1 {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 100px;
  padding: 0 20px;
  text-align: center;
  transform: translateX(-50%);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: clamp(1.5rem, 2.5vw + 10px, 2.5rem);
  font-weight: 700;
  color: #5c5c5c;
}

.control {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.github-corner {
  position: fixed;
  top: 0;
  right: 0;
}

.reset {
  border: 7px solid #fff;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 90%;
  letter-spacing: 2px;
  background: #ff7a7a;
  color: #ffffff;
  cursor: pointer;
  box-shadow: inset 0 0 10px rgb(255, 0, 0);
}

.reset:hover {
  animation: border-pulse 2s infinite;
}

@keyframes border-pulse {
  0% {
    box-shadow: 0 0 0 0 rgb(253, 126, 126);
  }

  70% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

.center-place {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.center-place svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.form-control {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

label {
  transition: background 500ms ease;
  border-radius: 5px;
  background: #fff;
}

label:hover {
  background: #e2e2e2;
}

label.active {
  transition: background 500ms ease-in-out;
  background: #7abfff;
}

label.active:hover {
  background: #c1e1ff;
}

label svg {
  pointer-events: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="checkbox"]:checked + svg,
input[type="radio"]:checked + svg {
  fill: #fff;
}
